name: checkdreamproperty
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  font_awesome_flutter: ^10.8.0
  url_launcher: ^6.3.1
  latlong2: ^0.9.1
  flutter_map: ^7.0.2
  animate_do: ^4.2.0
  google_fonts: any
  flutter_typeahead: ^5.2.0
  carousel_slider: ^5.0.0
  go_router: ^14.6.2
  flutter_staggered_grid_view: ^0.7.0
  youtube_player_iframe: ^2.3.0
  photo_view: ^0.15.0
  permission_handler: ^11.3.1
  path_provider: ^2.1.4
  device_info_plus:
  http:
  universal_html: ^2.2.4
  image_gallery_saver: ^2.0.3
  firebase_core: ^3.6.0
  cloud_firestore: ^5.4.4
  firebase_storage: ^12.3.4
  image_picker: ^1.0.0
  dio: ^5.8.0+1
  path: ^1.9.0
  flutter_image_compress: ^2.3.0
  intl: ^0.20.2
  flutter_riverpod: ^2.4.9
  get_it: ^7.7.0
  shared_preferences: ^2.3.3
  flutter_svg: ^2.1.0

   

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - lib/utils/
    
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
